<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArchSmith Visualiser</title>
</head>
<body>
    <h1>Welcome to ArchSmith Visualiser</h1>
    <p>This is a lightweight server that makes ArchSmith-tracked data more accessible for a better debugging/analysis experience.</p>
    <br>
    <p>Tracer Runs:</p>
    <ul>
        {% for tracerID in tracerData %}
            <li>Purpose: '{{ tracerData[tracerID]['purpose'] }}', Created: {{ tracerData[tracerID]['created'] }}</li>
        {% endfor %}
    </ul>
</body>
</html>